@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title"></h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non massa vitae eros eleifend fermentum vel in libero. Quisque interdum tempus orci sed consequat. Duis laoreet tristique rutrum. Nulla vitae ligula velit. Sed volutpat dui dictum, molestie magna eu, volutpat dolor. Etiam vitae leo nec nulla porttitor pulvinar. Suspendisse turpis lectus, pellentesque in ornare et, faucibus ut odio.

            Nulla vel elementum eros, nec suscipit augue. Integer maximus, diam nec volutpat efficitur, ex ex vehicula turpis, non ultricies sapien arcu eu lorem. Ut lacinia lectus tellus, viverra tempus augue imperdiet a. Vivamus tincidunt euismod lectus et dignissim. Ut leo dui, volutpat ac congue vitae, interdum eu ex. Quisque mollis mauris quis placerat mollis. Cras ante odio, rutrum ac auctor maximus, pharetra eget est.

            Nullam eleifend rutrum metus ac cursus. Proin egestas accumsan tellus vel porttitor. Nulla sit amet nulla quis diam pellentesque aliquet id in augue. Etiam convallis enim mi. Sed a fringilla ipsum. Nam id lectus iaculis magna volutpat viverra sed non metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla nec ante finibus, ornare leo ut, sollicitudin quam.

            In lectus turpis, dignissim sed purus eget, sollicitudin rutrum libero. Pellentesque nisi dui, blandit at varius a, convallis non mauris. Vestibulum vel molestie odio, eget tristique mi. Integer augue turpis, rhoncus vel metus sed, semper lobortis nisi. Sed id nisi tellus. Vivamus eu purus pretium, ultrices purus in, congue mauris. Donec quis nisi commodo, bibendum turpis id, ultrices lectus. Vivamus faucibus ipsum in lorem porta, quis mattis lorem egestas.
        </p>
    </section>


</main>